modules = ["nodejs-18", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["jq"]

[workflows]

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 40551
externalPort = 3001

[[ports]]
localPort = 41831
externalPort = 4200

[[ports]]
localPort = 43045
externalPort = 3002

[deployment]
deploymentTarget = "gce"
run = ["npm", "start"]
build = ["npm", "run", "build"]
